<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="row">
                    <div class="col-md-offset-2 col-md-2">
                        <img src="images/logo.png" th:src="@{/images/logo.png}">
                    </div>
                    <div class="col-md-6" style="margin-top: 10px;">
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <a href="http://www.gem-inno.com/">中级实践大作业之pumpkin实践组</a>
                            </div>
                        </div>
                        <div class="gap"></div>
                        <div class="row">
                            <div class="col-md-offset-2 col-md-10">
                                <span class="text-info"> 刘昕 高芳卓 吴海鹰|&nbsp;</span>
                                <span class="text-info"><a href="http://www.xmgc360.com">电子商城</a> |&nbsp;</span>
                                <span class="text-info">2020年5月</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
